    window-rule {
        geometry-corner-radius 2
        clip-to-geometry true
    }

    window-rule {
        match app-id=r#"steam$"#
        open-maximized true
        match at-startup=true
    }
 
    window-rule {
        match app-id=r#"Alacritty"#
        open-maximized true
        match at-startup=true
    }
   
    window-rule {
        match app-id="Helium"
        open-maximized true
        match at-startup=true
    }

    layer-rule {
        match namespace="^noctalia-wallpaper*"
        place-within-backdrop true
    }
    
    layout {
        background-color "transparent"
    }

    window-rule {
        match app-id="dev.noctalia.Noctalia"
        open-floating true
        default-column-width { fixed 1080; }
        default-window-height { fixed 920; }
    }

    debug {
        // Allows notification actions and window activation from Noctalia.
        honor-xdg-activation-with-invalid-serial
    }
